<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=eradarsacronjob;AccountKey=7BX9SSHn5HK8urK9KqfBP1sOsEDWyb7wBN3zJu6TFYE1v2EMedCYlKwzs+MyuZdPZtamI71TxlKp/bIkCmDflg==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
</configuration>

